@media (min-width: 900px) {

        /* NAVBAR */
            
        #menu{
            display: none;
        }
        #nav-links .container{
            display: flex;
            flex-direction: row;
            gap: 0;
            justify-self: normal;
            align-items: center;
            background-color: white;
            padding-top: 1em;
            padding-bottom: 1em;
        }
        #nav-links{
            position: relative;
            width: 100%;
            display: block;
        }
        nav{
            display: flex;
        }
        #nav-links a:nth-child(3){
            border-bottom: none;
            padding-bottom: 0;
        }
        #nav-links .invite{
            background-color: black;
            color: white;
            padding: .62em 1em;
            margin-left: auto;
        }
        #nav-links .invite:hover{
            background: #DFDFDF;
            color: black;
        }
        #nav-links a{
            width: initial;
        }
        .page-links:nth-child(1),
        .page-links:nth-child(2){
            margin-right: 4em;
        }
        .page-links:first-child{
            margin-left: auto;
        }
        .page-links:nth-child(3){
            margin-right: 8em;
        }

        .page-links:hover,
        .footer-links a:hover{
            opacity: 50%;
        }

        .read-story:hover{
            text-decoration: underline white;
        }
        

        .top .image{
            display: none;
        }
        .top .container{
            background-image: url(assets/stories/desktop/moon-of-appalacia.jpg);
            padding: 7.6em 0 7.6em 7em ;
        }
        .top .text{
            width: 24em;
        }





        /* STORIES */

        .stories{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .individual-stories{
            height: 31.25em;
            transition: all ease-in-out .3s;
            position: relative;
        }
        .individual-stories:hover{
            transform: translateY(-2em);
        }
        .mountain{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/mountains.jpg);
        }
        .cityscapes{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/cityscapes.jpg);
        }
        .voyage{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/18-days-voyage.jpg);
        }
        .architecture{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/architecturals.jpg);
        }
        .world-tour{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/world-tour.jpg);
        }
        .unforeseen{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/unforeseen-corners.jpg);
        }
        .africa{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/king-on-africa.jpg);
        }
        .nowhere{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/trip-to-nowhere.jpg);
        }
        .rage{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/rage-of-the-sea.jpg);
        }
        .running{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/running-free.jpg);
        }
        .waves{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/behind-the-waves.jpg);
        }
        .calm-waters{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/calm-waters.jpg);
        }
        .milky-way{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/milky-way.jpg);
        }
        .dark-forest{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/dark-forest.jpg);
        }
        .beauty{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/somwarpet.jpg);
        }
        .dreams{
            background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/land-of-dreams.jpg);
        }


        .wrapper{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 2em 1.5em;
        }

        .stories-bar{
            width: 100%;
            height: 6px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(#5A77FF, #BC7198, #FFC593);
            display: none;
        }
        .stories-barActive{
            display: initial;
        }


        /* FOOTER */

        footer{
            display: flex;
            padding-left: 7em;
            padding-right: 7em;
        }
        .logo-socials{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .socials{
            margin: 0;
        }
        .facebook svg:hover > path{
            fill: url(#facebook);
        }
        .youtube svg:hover > path{
            fill: url(#youtube);
        }
        .twitter svg:hover > path{
            fill: url(#twitter);
        }
        .pinterest svg:hover > path{
            fill: url(#pinterest);
        }
        .instagram svg:hover > path{
            fill: url(#instagram);
        }
        .footer-links{
            margin: 0 0 0 6.8em;
        }
        .invite-copyright{
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .invite-copyright p{
            margin: 0;
        }
        .invite-copyright a{
            justify-content: flex-end;
        }

        footer .invite:hover{
            text-decoration: underline white;
        }



}


@media (min-width: 768px) and (max-width: 899px){

      /* NAVBAR */
            
      #menu{
        display: none;
    }
    #nav-links .container{
        display: flex;
        flex-direction: row;
        gap: 0;
        justify-self: normal;
        align-items: center;
        background-color: white;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    #nav-links{
        position: relative;
        width: 100%;
        display: block;
    }
    nav{
        display: flex;
    }
    #nav-links a:nth-child(3){
        border-bottom: none;
        padding-bottom: 0;
    }
    #nav-links .invite{
        background-color: black;
        color: white;
        padding: .62em 1em;
        margin-left: auto;
    }
    #nav-links a{
        width: initial;
    }
    .page-links:nth-child(1),
    .page-links:nth-child(2){
        margin-right: 2em;
    }
    .page-links:first-child{
        margin-left: auto;
    }
    .page-links:nth-child(3){
        margin-right: 6em;
    }

    
    

    .top .image{
        display: none;
    }
    .top .container{
        background-image: url(assets/stories/mobile/moon-of-appalacia.jpg);
        /* padding: 7.6em 0 7.6em 7em ; */
    }
    .top .text{
        width: 24em;
    }





    /* STORIES */

    .stories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .individual-stories{
        height: 31.25em;
        position: relative;
    }
    .mountain{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/mountains.jpg);
    }
    .cityscapes{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/cityscapes.jpg);
    }
    .voyage{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/18-days-voyage.jpg);
    }
    .architecture{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/architecturals.jpg);
    }
    .world-tour{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/world-tour.jpg);
    }
    .unforeseen{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/unforeseen-corners.jpg);
    }
    .africa{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/king-on-africa.jpg);
    }
    .nowhere{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/trip-to-nowhere.jpg);
    }
    .rage{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/rage-of-the-sea.jpg);
    }
    .running{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/running-free.jpg);
    }
    .waves{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/behind-the-waves.jpg);
    }
    .calm-waters{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/calm-waters.jpg);
    }
    .milky-way{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/milky-way.jpg);
    }
    .dark-forest{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/dark-forest.jpg);
    }
    .beauty{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/somwarpet.jpg);
    }
    .dreams{
        background-image: linear-gradient(hsl(0, 0%, 100%, .0), rgba(0, 0, 0, 0.95)), url(assets/stories/desktop/land-of-dreams.jpg);
    }


    .wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2em 1.5em;
    }

    .stories-bar{
        width: 100%;
        height: 6px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(#5A77FF, #BC7198, #FFC593);
        display: none;
    }












            /* FOOTER */

    footer{
        display: flex;
        position: relative;
        height: 16em;
    }
    .logo-socials{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .socials{
        margin: 0;
    }
    .footer-links{
        position: absolute;
        flex-direction: row;
    }
    .invite-copyright{
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .invite-copyright p{
        margin: 0;
    }
    .invite-copyright a{
        justify-content: flex-end;
    }





}